<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wit.greentriangle.pocketrep">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label= "@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:versionCode="1"
        android:versionName = "Pocket Rep">
        <activity android:name=".StateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PoliticianListActivity"
            android:label="@string/title_activity_politician_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PoliticianBioActivity"
            android:label="@string/title_activity_politician_bio"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>